body {
    background: url("/img/bg.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.container {
        text-align: center; 
        width: 30em;
    }

h1 {
    padding-top: 3em;
}

#location {
    margin-bottom: 2em;
}